# Platform
DATABASE_URL=postgresql+asyncpg://folio:folio_dev_password@db:5432/folio_prod
REDIS_URL=redis://cache:6379/0
ENABLE_REGISTRATION=false

# API
SECRET_KEY=secret-key
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
API_ENV=production
API_PORT=8010

# Auth
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

# Market cache data
YFINANCE_CACHE_TTL=3600
YFINANCE_PRICE_HISTORY_CACHE_TTL=86400
MARKET_DATA_CACHE_TTL=10800

# Market data
TIINGO_API_KEY=value
NGNMARKET_API_BASE_URL=https://api.ngnmarket.com/v1/
NGNMARKET_API_KEY=value
RAPID_API_BASE_URL=https://tradingview-data1.p.rapidapi.com/
RAPID_API_KEY=value

# Scheduler
SCHEDULER_ENABLED=true
SCHEDULER_TIMEZONE=UTC
