# API Configuration
# Secret key should be the same with api/.env or api/.env.prod (if in production)
PUBLIC_API_BASE_URL=http://localhost:8000/api/v1/
SECRET_KEY=dev-secret-key-change-in-production

# Node Environment
NODE_ENV=development
